$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 18px;
$font-grow-size: 6px;

$color1: #6B0504;
$color2: #A3320B;
$color3: #D5E68D;
$color4: #47A025;
$backgroundColor: #f7e257;

$borderRadius: 8px;
